@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply
    font-sans
    text-base
    bg-slate-900
    text-slate-300;
}

.btn {
  @apply
    inline-block
    px-4
    py-2
    rounded-md
    bg-emerald-600
    text-slate-800
    font-bold
    hover:bg-emerald-500
    focus:bg-emerald-500
    transition-all
    disabled:opacity-50
    disabled:italic;
}

.btn.sm {
  @apply
    px-2
    py-1
    text-sm;
}

input[type="text"],
input[type="phone"],
input[type="email"],
input[type="password"],
input[type="search"],
select {
  @apply
    block
    appearance-none
    w-full
    h-10
    md:h-12
    leading-3
    p-2
    md:p-4
    m-0
    bg-emerald-600
    hover:bg-emerald-500
    transition-all
    rounded-md
    border-0
    outline-0
    text-black
    placeholder:text-black
    placeholder:italic;
}